cycler==0.11.0
fonttools==4.33.3
genson==1.2.2
kiwisolver==1.4.2
matplotlib==3.5.2
numpy==1.22.3
packaging==21.3
pandas==1.4.2
pkg_resources==0.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
tqdm==4.64.0
