node_modules/
worker/
.cargo-ok
package-lock.json

# For some reason this wasn't `.gitignore`d by the template? What gives?
dist/

# The tutorials indicate putting your account_id in the toml file, which makes
# me nervous. I'll check this file in after I understand if the account_id is
# considered public, and what the recommended ways to interpolate secrets are.
wrangler.toml
